In [1]:
# نسبت داده شده است'"hello world"' تعریف شده است و به آن رشته ای به نام 'mystring' در این کد یک متغیر به نام 

mystring = "hello world"

In [2]:
# تعریف شده است و به آن یک لیست یا(آرایه) نسبت 'mylist' در این کد یک متغیر به نام
# به ترتیب 1,2,3,4,5 است(integers) داده شده است که شامل پنج عدد صحیح 

mylist = [1,2,3,4,5]

In [3]:
# ذخیره شده که به تعداد 4 بار 'mystring' این کد به معنای تکرار رشته ای است که در متغیر
# است

mystring * 4

'hello worldhello worldhello worldhello world'

In [4]:
# به تعداد 4 بار است 'mylist' این کد به معنای تکرار لیست 

mylist * 4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [5]:
# داده شده است 'np' (alias) است و به آن نام مستعار'numpy' به معنای وارد کردن کتابخانه 'import numpy as np' عبارت 

import numpy as np

In [12]:
# ایجاد می کند که شامل 12 عدد صحیح تصادفی بین 1 و 99 است 'myarr' به نام (array) این کد یک آرایه 

myarr = np.random.randint(low=1, high=100, size=12)

In [13]:
# یک آرایه است که می تواند یک بعدی یا چند بعدی باشد'myarr'

myarr

array([29, 33, 83, 24, 76, 19, 94,  9, 46, 33, 72, 93])

In [14]:
# '[0:5]' نام یک لیست یا آرایه است و 'myarr' در اینجا 
# را از اندیس 0 تا 4 بر می گرداند'myarr' نشان دهده محدوده ای است که می خواهیم از آن استخراج کنیم. یعنی عناصر 

myarr[0:5]

array([29, 33, 83, 24, 76])

In [15]:
# 4x12 این کد یک آرایه دو بعدی با ابعاد
# تولید می کند که شامل اعداد صحیح تصادفی بین 1 و 99 است

myarr = np.random.randint(low=1, high=100, size=(4,12))

In [17]:
myarr

array([[83, 19,  6, 17, 74, 41, 55, 81, 89, 39, 64, 87],
       [31, 41, 51, 39, 54, 26, 26, 98, 67, 78, 25,  1],
       [60, 41, 42, 43, 47, 57, 38, 34, 59, 98, 12, 94],
       [ 5, 55, 20, 32, 99, 32, 26, 86, 41, 52, 41, 54]])

In [19]:
# به ابعاد جدیدی است که شامل 12 ردیف و 4 ستون می باشد 'myarr' این کد به معنای تغییر شکل آرایه ای به نام 
myarr.reshape(12,4)

array([[83, 19,  6, 17],
       [74, 41, 55, 81],
       [89, 39, 64, 87],
       [31, 41, 51, 39],
       [54, 26, 26, 98],
       [67, 78, 25,  1],
       [60, 41, 42, 43],
       [47, 57, 38, 34],
       [59, 98, 12, 94],
       [ 5, 55, 20, 32],
       [99, 32, 26, 86],
       [41, 52, 41, 54]])

In [20]:
# این کد مجموعه تمام عناصر در آرایه را محاسبه می کند و نتیجه را بر می گرداند

np.sum(myarr)

2360

In [25]:
# است 'myarr' این کد به معنای پیدا کردن بزرگترین مقدار در آرایه ای به نام 

np.max(myarr)

99

In [22]:
# است 'myarr' این کد به معنای پیدا کردن کمترین مقدار در آرایه ای به نام 

np.min(myarr)

1

In [26]:
# را محاسبه می کند 'myarr' این کد مجموعه عناصر هر ستون از آرایه 

np.sum(myarr, axis=0)

array([179, 156, 119, 131, 274, 156, 145, 299, 256, 267, 142, 236])

In [28]:
# این کد به این معنا که مجموعه عناصر در امتداد محور افقی (ستون ها) محاسبه می شود

np.sum(myarr, axis=1)

array([655, 537, 625, 543])

In [30]:
# به این معنا که ما می خواهیم حداکثر مقادیر را در امتداد محور عمودی(ستون ها) محاسبه کنیم'axis=0'

np.max(myarr, axis=0)

array([83, 55, 51, 43, 99, 57, 55, 98, 89, 98, 64, 94])

In [39]:
# به این معنا که ما می خواهیم حداکثر مقادیر را در امتداد محور افقی(ستون ها) محاسبه کنیم'axis=1'

np.max(myarr, axis=1)

array([89, 98, 98, 99])

In [41]:
# هم زوج هستند و هم بزرگتر از 50'myarr'این کد یک آرایه بولی تولید می کند که نشان می دهد کدام عناصر آرایه
# خواهد بود'True' اگر هم زوج و هم بزرگتر از 50 بود نتیجه 

even_mask = (myarr % 2 == 0) & (myarr > 50)

In [42]:
#،یک آرایه بولی باشد، می تواند برای هر عنصر در یک آرایه دیگر'even_mask'اگر 
#را داشته باشد'False'و در غیر آن 'True' اگر آن عنصر زوج باشد، مقدار 

even_mask

array([[False, False, False, False,  True, False, False, False, False,
        False,  True, False],
       [False, False, False, False,  True, False, False,  True, False,
         True, False, False],
       [ True, False, False, False, False, False, False, False, False,
         True, False,  True],
       [False, False, False, False, False, False, False,  True, False,
         True, False,  True]])

In [43]:
# برابر با'even_mask'را که در 'myarr' این عملکرد به شما اجازه می دهد تا فقط عناصری از
# هستند، انتخاب کنید 'True'

myarr[even_mask]

array([74, 64, 54, 98, 78, 60, 98, 94, 86, 52, 54])

In [44]:
# این کد بررسی می کند که آیا عناصر آخرین ستون یک آرایه به صورت زوج هستند یا خیر

even_mask = myarr[0:,-1] % 2 == 0

In [45]:
#را نشان می دهد'myarr'یک آرایه بولی است که وضعیت زوج بودن عناصر آخرین ستون آرایه'even_mask'

even_mask

array([False, False,  True,  True])

In [46]:
#دارند انتخاب می کند'True'مقدار'even_mask'که در 'myarr'این کد سطرهایی از

myarr[even_mask, 0:]

array([[60, 41, 42, 43, 47, 57, 38, 34, 59, 98, 12, 94],
       [ 5, 55, 20, 32, 99, 32, 26, 86, 41, 52, 41, 54]])